
/* header style add */
.text-light-color{
    color: #4A4A4A;
}

.me-left-auto {
    margin-left: auto !important;
}

/* slider style add */
.margin-top-style{
    margin-top: 81px;
}

.carousel-height{
    Filter: brightness(50%);
    height: 100%;
}

.carousel-item{
    height: 500px;
}

.items-height{
    height: 100%;
}

.carousel-caption {
    bottom: initial;
    top: 60%;
    transform: translateY(-50%);
}

.width-style{
    width: 90%;
}

.fa-brands{
    padding: 10px;
    margin: 0 8px;
    border-radius: 50%;
    background-color:#242424;
}

 .fa-solid{
    padding: 10px;
        border-radius: 50%;
        background-color: #242424;
 }