

/* header style add */
.text-light-color{
    color: #4A4A4A;
}

.me-left-auto {
    margin-left: auto !important;
}

/* slider style add */
.margin-top-style{
    margin-top: 81px;
}

.carousel-height{
    Filter: brightness(50%)
}

.carousel-caption {
    bottom: initial;
    top: 50%;
    transform: translateY(-50%);
}

.width-style{
    width: 90%;
}

/* @media only screen and (max-width: 600px) {
    .display-1{
        font-size: 1.5rem;
    }

    .para{
        font-size: 15px;
        line-height: 1;
        margin-top: -4px;
    }
    .btn{
        margin-bottom: 100px;
    }
} */

.fa-brands{
    padding: 10px;
    margin: 0 8px;
    border-radius: 50%;
    background-color:#242424;
}

 .fa-solid{
    padding: 10px;
        border-radius: 50%;
        background-color: #242424;
 }